@import "base";
@import "variables";

body {
    h1 {
        color: $color;
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 0;
        
        article.panel {
            h2 {
                margin: 0;
            }

            .panel-body {
                height: 3.9em;
                overflow: hidden;
            }

            .panel-footer p {
                margin: 0;
            }
        }
    }
}
